{% extends 'doctor/basic.html' %}
{%load static%}
{%block title%}
Home
{%endblock title%}

{%block home_active%}
active
{%endblock home_active%}


{%block body%}
<link rel="stylesheet" href="{%static 'doctor/css/homesr.css' %}">
<div class="bgimg1">
    <div class="row">
        <div class="col">

        </div>
        <div class="col col d-block m-auto hed">
            <h2>Health is wealth</h2>
    <h1>We Doctors love Serving Nation</h1>
 
    <button type="button" class="btn btn-success mr-2 my-2">Check out services</button>
    <button type="button" class="btn btn-outline-success ">Learn More</button>
    

        </div>
    </div>

</div>
{%endblock body%}