{% extends 'doctor/basic.html' %}
{% load static%}
{% load crispy_forms_tags %}
{% block body %}
<link rel="stylesheet" href="{%static 'doctor/css/login.css'%}" type="text/css" media="all" />
    <div class="container login-container bg-white login-form">
  
    		
    	
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center"  >
                <button class="btnSubmit" type="submit">Login</button>
            </div>
        </form>
        
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
            </small>
            </div>
        </div>
   
{% endblock body %}