{% extends 'doctor/basic_ml.html' %} {%load static%} {%block title%} Confirm new password
{%endblock title%}

{% load crispy_forms_tags %}
{% block body %}

<style type="text/css" media="all">

    div.passform {
        padding: 5% 30% 0% 30%;
    }
    
    
    </style>
    <div class="content-section passform">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}