

{% extends 'doctor/basic_ml.html' %}

{%load static%}
{%block title%}
EditBlog
{%endblock title%}


{%block body%}
{%if user.is_authenticated %}

{%if post.author.id ==  user.id%}
<div class="container">

<h1>Update Post</h1>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
    <button class="btn btn-primary">Update</button>
    </form>
</div>
{%else%}
<h2>not allowed</h2>
{% endif %}
{%else%}
<h2>not allowed</h2>
{% endif %}


</div>
{%endblock body%}
